  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" style="top:100px;" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav enlace">
                <li class="sidebar-brand">
                    <a >
                       Recursos
                    </a>
                </li>
                <li class="active">
                    <a href="#aprende">Aprende!</a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header"></li>
                    <li><a href="#video1">1</a></li>
                    <li><a href="#video2">2</a></li>
                    <li><a href="#video3">3</a></li>
                    <li><a href="#video4">4</a></li>
                    <li><a href="#video5">5</a></li>                    
                  </ul>
                </li>
                <li>
                    <a href="cuestionarios">Cuestionarios</a>
                </li>
            </ul>
        </nav>        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>

            <div class="container" style="margin-top:60px;">
            <div class="tab-content" style="margin-left:10%;">
                <div id="aprende" class="tab-pane fade active in">                    
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="title-doc">Aprende con nosotros!</h1>
                    <p>Bienvenido, aqui aprenderas la funcion de recursos básicos de Moodle para diseñar y publicar su curso en una plataforma.</p>
                    <p>Te invitamos a recorrer este espacio, el cual constituye un entorno pensado para incentivar tus ganas de aprender a gestionar tu propio aula virtual.</p> 
                    <p>Con el fin de disponer de herramientas tecnológicas que permitan al docente tener más autonomía sobre la realización de sus materiales educativos, hemos trabajando con una plataforma e-learning, es decir, un software que permite diseñar y publicar en la web materiales educativos</p><p>La plataforma e-learning elegida fue Moodle, cuyo nombre es una sigla que corresponde a las palabras en inglés: Modular Object-Oriented Dynamic Learning Environment (Entorno de Aprendizaje Modular y Dinámico Orientado a Objetos).</p>                   
                    </div>
                </div>

                <div id="video1" class="tab-pane fade">
                    <div class="col-lg-8 col-lg-offset-2" style="margin-bottom:5%;">
                        <h1 class="title-doc">1.-¿Cómo crear un examen?</h1>

                        <div class="embed-video" style="margin-left:5%;">
                        <div class="videoWrapper hidden_element ">
                        <iframe width="560" height="315" data-src="https://www.youtube.com/embed/u1kDULwS15I?list=PL_KWR1dyqBSjvqr3XLmdHKFs8oPA6EZ5V" frameborder="0" allowfullscreen></iframe>
                        </div>
                        </div>
                    </div>
                </div>

                <div id="video2" class="tab-pane fade">
                    <div class="col-lg-8 col-lg-offset-2 " style="margin-bottom:5%;" >
                        <h1 class="title-doc">2.- Agregando preguntas</h1>

                        <div class="embed-video" style="margin-left:5%;">
                        <div class="videoWrapper hidden_element ">
                        <iframe width="560" height="315" data-src="https://www.youtube.com/embed/eXsZEMDwdVc?list=PL_KWR1dyqBSjvqr3XLmdHKFs8oPA6EZ5V" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                    </div>
                </div>

                <div id="video3" class="tab-pane fade">
                    <div class="col-lg-8 col-lg-offset-2 " style="margin-bottom:5%;">
                        <h1 class="title-doc">3.- Cómo configurar una tarea</h1>

                        <div class="embed-video" style="margin-left:5%;">
                        <div class="videoWrapper hidden_element ">
                        <iframe width="560" height="315" data-src="https://www.youtube.com/embed/94ZVOo0ylwo?list=PL_KWR1dyqBSjvqr3XLmdHKFs8oPA6EZ5V" frameborder="0" allowfullscreen></iframe>
                        </div>
                        </div>
                    </div>
                </div> 
                 
                <div id="video4" class="tab-pane fade">
                    <div class="col-lg-8 col-lg-offset-2 " style="margin-bottom:5%;">
                        <h1 class="title-doc">4.- Cómo calificar tareas</h1>

                        <div class="embed-video" style="margin-left:5%;">
                        <div class="videoWrapper hidden_element ">
                        <iframe width="560" height="315" data-src="https://www.youtube.com/embed/ZmDx9xlOE0g?list=PL_KWR1dyqBSjvqr3XLmdHKFs8oPA6EZ5V" frameborder="0" allowfullscreen></iframe>
                        </div>
                        </div>
                    </div>
                </div>                               

                <div id="video5" class="tab-pane fade">
                    <div class="col-lg-8 col-lg-offset-2" style="margin-bottom:5%;">
                        <h1 class="title-doc">5.- Cómo desactivar recursos</h1>

                        <div class="embed-video" style="margin-left:5%;">
                        <div class="videoWrapper hidden_element ">
                        <iframe width="560" height="315" data-src="https://www.youtube.com/embed/tkDTvqO5_yE?list=PL_KWR1dyqBSjvqr3XLmdHKFs8oPA6EZ5V" frameborder="0" allowfullscreen></iframe>
                        </div>
                        </div>
                    </div>
                </div>                               

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
