<!DOCTYPE html>
<html>
<head>
  <title>Curso Moodle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Curso Moodle</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#documentacion">Documentacion</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#unete">Unete</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contacto">Contacto</a>
                    </li>
                    <li >
                        <a class="btn-connect" >Conectar</a>
                    </li>
                    <li >
                        <a class="btn-signup" >Registrarme</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Moodle</span>
                        <hr class="star-light">
                        <span class="skills">Aprende a utilizar esta solida plataforma de aprendizaje de codigo abierto de manera interactiva</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Portfolio Grid Section -->
    <section id="documentacion">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Documentacion</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item block-color-fondo" >
                <%= link_to page_path('elearning.html'), :class=>"portfolio-link"  do %>
                                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"><p><h3>Conoce el e-learning</h2></p></i>
                            </div>
                        </div>
                        <img src="img/resources/1.jpg" class="img-responsive top-image" alt=""><p><h3 class="center">¿e-learning?</h2></p>
					<%end%>
                </div>
                <div class="col-sm-4 portfolio-item block-color-fondo">
                    <a href="#moodle" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"><p><h3>Conoce Moodle</h2></p></i>
                            </div>
                        </div>
                        <img src="img/resources/2.jpg" class="img-responsive top-image" alt=""><p><h3 class="center">Conoce Moodle</h2></p>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item block-color-fondo">
                    <a href="#porque" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"><p><h3 >¿Por que moodle?</h2></p></i>
                            </div>
                        </div>
                        <img src="img/resources/3.jpg" class="img-responsive top-image" alt=""><p><h3 class="center">¿Por que Moodle?</h2></p>
                    </a>
                </div>
            </div>
        </div>
    </section>

<section class="success" id="unete">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Unete</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Moodle es una plataforma de aprendizaje diseñada para proporcionarle a educadores, administradores y estudiantes un sistema integrado único, robusto y seguro para crear ambientes de aprendizaje personalizados.</p>
                </div>
                <div class="col-lg-4">
                    <p>Moodle está construido por el proyecto Moodle, que está dirigido y coordinado por el Cuartel General Moodle, una compañía Australiana de 30 desarrolladores, que está soportada financieramente por una red mundial de cerca de 60 compañías de servicio Moodle Partners (Socios Moodle).</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-link"></i> Ir al curso
                    </a>
                </div>
            </div>
        </div>
    </section>
<section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contacto</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contacto form email address, go to mail/contacto_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactoForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Correo Electronico</label>
                                <input type="email" class="form-control" placeholder="Correo Electronico" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Telefono</label>
                                <input type="tel" class="form-control" placeholder="Telefono" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Mensaje</label>
                                <textarea rows="5" class="form-control" placeholder="Escribe aqui tus dudas" id="message" required data-validation-required-message="Por favor ingresa un mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">

                    <div class="footer-col col-md-6">
                        <h3>Redes Sociales</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>Acerca del curso</h3>
                        <p>Curso Moodle es una herramienta para incentivar el uso de  <a href="http://moodle.com" target="_blank">Moodle</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Curso Moodle 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>