
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-Learning</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <link rel="shortcut icon" href="images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-red.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Curso Moodle", root_path, class:"navbar-brand" %>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Documentacion</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contacto</a>
                    </li>
                    <li >
                        <a class="btn-connect" >Conectar</a>
                    </li>
                    <li >
                        <a class="btn-signup" >Registrarme</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h3 class="top-space-text center-title">E-learning</h3>

            <h4 style="margin-left:1em;">¿Que es el e-learning?</h4>
              <p class="space-text">
                Podemos definir al E-Learning como un sistema de formación interactivo para desarrollar programas de enseñanza, que hace uso masivo de los medios electrónicos para llegar a un alumnado generalmente remoto.
              </p>
              <p class="space-text">Podemos distinguir dos modalidades básicas de E-Learning:</p>
              <p class="space-text"><strong> E-Learning:</strong> cuando el conocimiento se distribuye de manera exclusiva por Internet.<br>
                <strong> B-Learning ó Blended Learning:</strong> cuando se combina el aprendizaje a distancia con el aprendizaje presencial.</p>
                <p class="space-text">Aunque el término más generalizado es e-learning, existen otros que significan prácticamente lo mismo: formación on-line, educación virtual, teleformación, etc.</p>
                <strong class="space-text">Caracteristicas del e-learning</strong>

                <p class="space-text">De acuerdo a la definición anterior podemos enumerar una serie de características básicas:</p>

                <ul class="space-text">
                  <li><span style="color:#000000;"> Separación física entre profesor y alumno.</span></li>
                  <li><span style="color:#000000;">Uso masivo de medios técnicos.</span></li>
                  <li><span style="color:#000000;">El alumno como centro de la formación.</span></li>
                  <li><span style="color:#000000;">Tutorización.</span></li>
                  <li><span style="color:#000000;">Comunicación de doble vía asíncrona.</span></li>
                 </ul>

                <p class="space-text"> <strong> Separación física entre profesor y alumno:</strong> En la enseñanza a distancia, el profesor está generalmente separado físicamente de sus alumnos, los cuales recurren generalmente a las enseñanzas de sus profesores gracias a material impreso, audiovisual, informático etc. y, algunas veces mediante un contacto físico.</p>

                <p class="space-text"><strong>Uso masivo de medios técnicos:</strong> El E-Learning toma como herramientas básicas las que le proporcionan las últimas tecnologías, llámense Internet, contenidos interactivos y realidad virtual, videoconferencias, etc. Estas permiten superar las barreras surgidas por la distancia y el tiempo.</p>

                <p class="space-text"><strong> El alumno como centro de la formación:</strong> A diferencia de la enseñanza presencial, en este tipo de formación es el alumno el que tiene que saber gestionar su tiempo y decidir su ritmo de aprendizaje. Recae mayor responsabilidad en el al mismo tiempo que le proporciona mayor flexibilidad al aprendizaje.</p>

                <p class="space-text"><strong> Tutorización:</strong> Esta es una característica imprescindible en la educación virtual, pues de no llevarse a cabo se cae en el peligro de solo colocar contenido para ser leído y no se consigue el óptimo aprovechamiento de los mismos.</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
