            <div class="container" style="margin-top:100px;">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="title-doc">E-learning</h1>

                        <h3>¿Que es el e-learning?</h3>
                        <p>Podemos definir al E-Learning como un sistema de formación interactivo para desarrollar programas de enseñanza, que hace uso masivo de los medios electrónicos para llegar a un alumnado generalmente remoto. </p>

                        <p>Podemos distinguir dos modalidades básicas de E-Learning:</p>

                        <p><strong>E-Learning:</strong> cuando el conocimiento se distribuye de manera exclusiva por Internet.</p>
                        <p><strong>B-Learning ó Blended Learning:</strong> cuando se combina el aprendizaje a distancia con el aprendizaje presencial.</p>

                        <p>Aunque el término más generalizado es e-learning, existen otros que significan prácticamente lo mismo: formación on-line, educación virtual, teleformación, etc.</p>

                        <p><strong>Caracteristicas del e-learning</strong></p>
                        <p>De acuerdo a la definición anterior podemos enumerar una serie de características básicas:</p>

                        <ul class="space-text">
                          <li><span style="color:#000000;"> Separación física entre profesor y alumno.</span></li>
                          <li><span style="color:#000000;">Uso masivo de medios técnicos.</span></li>
                          <li><span style="color:#000000;">El alumno como centro de la formación.</span></li>
                          <li><span style="color:#000000;">Tutorización.</span></li>
                          <li><span style="color:#000000;">Comunicación de doble vía asíncrona.</span></li>
                        </ul>

                        <p><strong>Separación física entre profesor y alumno:</strong> En la enseñanza a distancia, el profesor está generalmente separado físicamente de sus alumnos, los cuales recurren generalmente a las enseñanzas de sus profesores gracias a material impreso, audiovisual, informático etc. y, algunas veces mediante un contacto físico.</p>

                        <p><strong>Uso masivo de medios técnicos:</strong> El E-Learning toma como herramientas básicas las que le proporcionan las últimas tecnologías, llámense Internet, contenidos interactivos y realidad virtual, videoconferencias, etc. Estas permiten superar las barreras surgidas por la distancia y el tiempo.</p>

                        <p><strong>El alumno como centro de la formación:</strong> A diferencia de la enseñanza presencial, en este tipo de formación es el alumno el que tiene que saber gestionar su tiempo y decidir su ritmo de aprendizaje. Recae mayor responsabilidad en el al mismo tiempo que le proporciona mayor flexibilidad al aprendizaje.</p>

                        <p><strong>Tutorización:</strong> Esta es una característica imprescindible en la educación virtual, pues de no llevarse a cabo se cae en el peligro de solo colocar contenido para ser leído y no se consigue el óptimo aprovechamiento de los mismos.</p>


                        </div>                        
                   </div>
             </div>