            <div class="container" style="margin-top:100px;">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="title-doc">¿Por qué Moodle?</h1>

                        <p>La fiebre del e-learning que estamos viviendo en los últimos años tiene sus razones de ser. Las ventajas y razones para estudiar online son muchas tanto para particulares como para empresas. El e-learning se adecua perfectamente por sus características a las circunstancias en las que vivimos actualmente. Muchos profesionales quieren continuar formándose para adaptarse a los retos de los nuevos mercados, pero no disponen del tiempo o de los recursos económicos necesarios para asistir a un curso presencial ¡Ahora sí que entendemos el éxito del e-learning! A continuación, te numeramos las razones y ventajas principales por las que creemos que estudiar online es una buena elección:</p>

                        <h3>Flexibilidad</h3>

                        <p>Históricamente, una de las barreras principales a la hora de estudiar era la barrera espacio-temporal. Es decir, la imposibilidad de estar en el lugar donde se imparte la docencia en ese justo instante. Una persona que no vive en la ciudad en la que se imparte la docencia tiene una barrera espacial. Mientras que otra que trabaja en jornada completa tiene una barrera temporal. El e-learning ha roto con esas barreras creando un espacio virtual que funciona a forma de aula pero con autonomía.</p>
                        <img class="image-bottom" src="http://noticias.iberestudios.com/files/2013/07/ID-100785211.jpg">

                        <h3>Comodidad</h3>
                        <p>Esta facilidad logística hace que el alumno no gaste tiempo ni energías en procesos que no se centren en la adquisición de conocimientos. Dicho llanamente, esta modalidad de formación va al grano y ofrece menos pérdidas de tiempo.</p>

                        <h3>Compatibilidad con otras actividades</h3>

                        <p>La educación online permite al alumno dedicarse a otras cosas a la vez que formarse. No tiene porque verse afectada su jornada laboral ni de ocio. La autonomía ofrecida permite que cada cual se organice como quiera.</p>

                        <h3>Reducción del tiempo empleado</h3>
                        <p>Debido a lo anteriormente comentado el alumno adquiere conocimientos de manera más rápida. Varios estudios han demostrado que los tiempos de aprendizaje pueden disminuir en un 40-60% respecto a modalidades presenciales.</p>

                        <h3>Acceso universal</h3>
                        <p>No se necesita gran cosa para poder cursar un módulo de e-learning. Un ordenador y una conexión a internet son suficientes para “asistir a clase”. La formación online ayuda sin duda a que la educación se democratice, poniéndola al alcance de todo el mundo.</p>

                        <h3>Mayor retención</h3>
                        <p>Varios estudios afirman que los conocimientos se retienen un 25% más en procesos de e-learning que siguiendo métodos presenciales convencionales. Posiblemente, el factor de auto aprendizaje y autodisciplina hacen que el alumno tome parte más activa en el proceso, acelerando así la asimilación de conceptos.</p>
                        <img class="image-bottom" src="http://noticias.iberestudios.com/files/2013/07/ID-100809951.jpg">

                        <h3>Evaluación continua</h3>

                        <p>Las herramientas y softwares de e-learning facilitan la evaluación continua de la actividad del alumno. A diferencia de los cursos a distancia convencionales, los cursos online permiten monitorizar detalladamente el proceso de aprendizaje. Esta facilidad de seguimiento no sólo se emplea por parte de los docentes, sino que también se pueden ver beneficiadas las empresas. Al implantar cursos de e-learning en las empresas, éstas tienen la posibilidad de hacer un seguimiento detallado y general de cada uno de los empleados y su proceso de aprendizaje; cantidad de conexiones, última vez en la que se conectó, materiales utilizados, grado de satisfacción con la formación, etc.</p>

                        </div>                        
                   </div>
             </div>